






<header>Create Game</header>
<div class="main clearfix">
	<form id="nl-form" class="nl-form">

		<label>Name: </label>

		<input type="text" value="" placeholder="my game" data-subline="For example: <em>Best Cats"/>

		<br>
		Size:
		<select>
			<option value="1" selected>8</option>
			<option value="2">16</option>
			<option value="3">32</option>
			<option value="4">64</option>

		</select>
		
		
		<div class="nl-submit-wrap">
			<button class="nl-submit create" type="submit">Go</button>
		</div>
		<div class="nl-overlay"></div>
	</form>
</div>